/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, black, black 90%, white 100%);
    color: white;
}

.header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.section {
    height: calc(100vh / 6);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Specific styles for the "acerca de" section */
#acerca-de {
    display: flex;
    justify-content: space-between; /* Distribute space equally */
}

#acerca-de img {
    max-width: 100px;
    max-height: 100px;
    flex: 1; /* Allow the image to take up equal space */
}

#acerca-de p {
    flex: 1; /* Allow the paragraph to take up equal space */
    margin-left: 20px; /* Add some space between the image and the text */
}

/* Blog carousel styles */
#blog .carousel {
    display: flex;
    overflow-x: auto;
}

#blog .post {
    margin: 0 10px;
    text-align: center;
}

/* Social icons styles */
#otras-redes .social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

#otras-redes .social-icons li {
    margin: 0 10px;
}

/* Contact form styles */
#contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacto label {
    margin: 10px 0 5px;
}

#contacto input, #contacto textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

#contacto button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

/* Footer styles */
.footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

.footer p {
    margin: 0;
}
